table {
  width: 100%;
}

.mat-table {
  display: flex;
  flex-direction: column;
}

.mat-header-row,
.mat-row {
  display: flex;
}

.mat-header-cell,
.mat-cell {
  flex: 1;
  text-align: left;
}

.favorite-column {
  flex: 0.5;
}

.title-column {
  flex: 5;
}

.title-header {
  display: flex;
  justify-content: center;
}

.chapter-column {
  flex: 1;
}

.chapter-header {
  display: flex;
  justify-content: center;
}

.rating-column {
  width: 30px;
  flex: 1.5;
}

.rating-header {
  display: flex;
  justify-content: center;
}

.wasRead-column {
  flex: 2;
}

.wasRead-header {
  display: flex;
  justify-content: center;
}

.favorite-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.fullpagebutton {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  top: 10px;
  left: 730px;
}
