<div class="navbar-container">
  <nav class="button-container">
    <div
      (click)="selectButton('home')"
      [class.selected]="selectedButton === 'home'"
      class="button"
    >
      Scan list
    </div>
    <div
      (click)="selectButton('addWebsite')"
      [class.selected]="selectedButton === 'addWebsite'"
      class="button"
    >
      Add Website
    </div>
    <div (click)="openTab()" class="button informations">Informations</div>
  </nav>
</div>
<router-outlet></router-outlet>
