<div class="container">
  <div class="new-website">
    <h1>Propose a new website for the next update</h1>
    <form [formGroup]="websiteForm" (ngSubmit)="proposeNewWebsite()">
      <input
        id="website"
        formControlName="website"
        type="text"
        placeholder="Enter website name"
      />
      <button type="submit" [disabled]="successMessage || websiteForm.invalid">
        Ask
      </button>
    </form>
    <div *ngIf="successMessage" class="success-message">
      The website has been proposed successfully
    </div>
  </div>
</div>
